/* imports */
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

/* styling */

:root {
     --myfont: "Geist Mono", serif;
     --green: #00CA4E;
     --black: #323232;
     --gray:  #E0DDD6;
     --white: #fff;
}

html {
     scroll-behavior: smooth;
     scroll-padding: 10vh;
     scroll-snap-type: x mandatory;
}

* {
     box-sizing: border-box;
     margin: 0px;
     font-family: var(--myfont);
}

a {
     text-decoration: none;
}

body {
     display: flex;
     flex-direction: column;
     background-color: var(--gray);
}

/* particle js styling bg */
#particles-js {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
     background-color: #00CA4E;
}

/* Navbar styling */
.nav-bar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: var(--black);
     color: var(--green);
     padding: 0rem 1rem;
     border-bottom: 2px solid var(--green);
     position: fixed; /* Makes the navbar fixed at the top */
     top: 0; /* Positions it at the top */
     left: 0; /* Aligns it to the left edge of the page */
     width: 100%; /* Ensures it stretches across the entire width */
     z-index: 1000; /* Ensures it's above other content */
}
 
.nav-a {
     font-size: 2rem;
     color: var(--green);
     font-weight: 800;
     text-shadow: var(--green) 0px 0px 10px;
}
 
.link-container {
     display: flex;
     list-style: none;
     gap: 1rem;
     padding: 1rem;
}
 
.link-container a {
     color: var(--green);
     padding: 1rem;
     text-decoration: none;
     cursor: pointer;
}
 
.link-container a:hover {
     color: var(--black);
     text-shadow: var(--black) 0px 0px 5px;     
     background-color: #00CA4E;
}

.link-container a:active {
     color: var(--gray);
}
 
 /* Hamburger menu styling */
.icon {
     display: none;
     font-size: 24px;
     color: var(--green);
     cursor: pointer;
}

/* hero page */

.hero-page {
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: var(--black);
     color: var(--white);
     height: 100vh;
     margin-top: 3rem;
     padding: 2rem;
}

.hero-text {
     display: flex;
     flex-direction: column;
     width: 60%;
     height: auto;
}

.hero-text h1 {
     font-size: 3rem;
     font-weight: 800;
}

.hero-text p {
     font-size: 1.2rem;
     font-weight: 400;
     text-align: justify;
}


.learn-btn{
     text-align: center;
     width: 150px;
     margin-top: 1rem;
     background-color: var(--green);
     color: var(--black);
     border: 3px solid var(--black);
     padding: 1rem;
}

.learn-btn:hover {
     background-color: var(--black);
     color: var(--green);
     border: 3px solid var(--green);
     font-weight: 800;
     box-shadow: var(--green) 0px 0px 50px;     

}


.img-container {
     max-width: 350px;
     height: auto;
     font-size: 0px;
     border: 3px solid var(--green);
     box-shadow: 5px 5px var(--green);
}

.img-container:hover {
     transform: translateY(-10px);
     box-shadow: var(--green) 0px 0px 50px;     
}

.img-container img {
     width: 100%;
     height: auto;
}

.about-me{
     margin: 5rem 2rem;
     height: 500px;
}
/* end of hero page styling */


/* terminal styling */
.terminal-header {
     display: flex;
     align-items: center;
     gap: 20px;
     background-color: #fff;
     width: 100%;
     padding: 1rem;
     height: 30px;
}
.circle-1, .circle-2, .circle-3 {
     width: 15px;
     height: 15px;
     border-radius: 50%;
}
.circle-1 {
     background-color: #FF605C;
}

.circle-2 {
     background-color: #FFBD44;
}

.circle-3 {
     background-color: #00CA4E;
}

.terminal-body {
     background-color: #323232;
     color: #E0DDD6;
     padding: 2rem;
     height: 100%;
     overflow-y: scroll;
     line-height: 1.6;
}

.terminal-body h1 {
     font-size: 2.5rem;
}


.skill-cont {
     padding: 2rem;
     height: auto;
}

.terminal-body::-webkit-scrollbar {
     width: 8px;
     height: 8px; 
}
 
.terminal-body::-webkit-scrollbar-track {
     background: #444444; 
     border-radius: 5px;
}
 

.terminal-body::-webkit-scrollbar-thumb {
     background-color: #00CA4E; 
     border-radius: 5px;
     border: 2px solid #323232; 
}
 
.terminal-body::-webkit-scrollbar-thumb:hover {
     background-color: #00CA4E; 
}
 
.terminal-body::-webkit-scrollbar-corner {
     background: #323232;
}

.output {
     margin-left: 15px;
     color: #00CA4E;
     margin-bottom: 15px;
}

.output:hover {
     text-shadow: 0px 0px 10px var(--green);
}

 
.indent-output {
     margin-left: 25px;
     color: #FFBD44;
     margin-bottom: 20px;
}
 
.indent-output-1 {
     margin-left: 45px;
     color: #00CA4E;
     margin-bottom: 20px;
}



.skills-percent {
     padding: 1rem;
}

.skill-wrapper {
     width: 100%;
     border: 2px solid var(--green);
     transition: all 1 ease;
}

.skill-bar {
     background-color: #00CA4E;
     padding: 5px;
     color: var(--black);
     transition: all 0.5 ease;
}

.skill-wrapper:hover {
     transform: translateY(-5px);
}

.skill-bar:hover, .skill-wrapper:hover{
     box-shadow: 0px 0px 10px var(--green);
}

.js {
     width: 20%;
}

.html {
     width: 90%;
}

.css {
     width: 70%;
}

.git {
     width: 30%;
}

.python {
     width: 75%;
}

.responsive {
     width: 60%;
}

.figma {
     width: 50%;
}
/* end of terminal styling */

/* typing animaton */
.my-typing {
     display: inline-flex;
     justify-content: center;
     align-items: center;
     margin-top: 10px;
     gap: 1rem;
}
/* end of my-typing styling */


/* project section */
.project-section {
     display: flex;
     flex-direction: column;
     gap: 1rem;
     background-color: #323232;
     padding: 2rem;
}
.project-h1 {
     font-size: 2.5em;
     text-align: center;
     margin: 0px;
     color: var(--green);
}


.card {
     display: flex;
     gap: 1rem;
     border: 3px solid var(--gray);
     width: 100%;
     height: auto;
     border-radius: 1rem;
     padding: 1rem;
}

.card:hover {
     transform: translateY(-5px);
     box-shadow: 0px 0px 20px var(--green);
}


.card-disc {
     display: flex;
     gap: 1.5rem;
     flex-direction: column;
     width: 60%;
     color: #E0DDD6;
}

.card-image {
     width: 40%;
     height:350px;
     font-size: 0px;
     padding: 1rem;
     border-radius: 1rem;
     border: 3px solid var(--green);
}

.card-image:hover {
     transform: translateY(-5px);
     box-shadow: var(--green) 0px 0px 20px;     
}

.card-image img {
     width: 100%;
     height: 100%;
     object-fit: contain;
     font-size: 0px;
}

.lang-container {
     display: flex;
     gap: 10px;
     flex-wrap: wrap;
     justify-content: flex-start;
     cursor: pointer;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lang-use {
     padding: 20px;
     border-radius: 10px;
     border: 3px solid var(--green);
     transition: all 1s ease;
}

.lang-container span:hover {
     background-color: #00CA4E;
     transform: translateY(-5px);
     box-shadow: var(--green) 0px 0px 20px;     
}

.button-container {
     display: flex;
     gap: 10px;
     align-items: center;
     flex-wrap: wrap;
}

.button-container a {
     padding: 10px;
     color: var(--black);
}

#open-link {
     background-color: #00CA4E;
     border: 3px solid var(--green);
     transition: all 0.5s ease-in-out;
}

#open-link:hover {
     background-color: var(--black);
     color: var(--gray);
     transform: translateY(-5px);
     box-shadow: var(--green) 0px 0px 20px;     
}

#view-link {
     color: var(--gray);
     border: 3px solid var(--green);
     transition: all 0.5s ease-in-out;
}

#view-link:hover {
     background-color: var(--green);
     color: var(--black);
     transform: translateY(-5px);
     box-shadow: var(--green) 0px 0px 20px;     
}
/* end of project section styling */

/* contact styling */
.contact {
     padding: 2rem;
}
.t-link {
     color: #FF605C;
     transition: all 1s ease-in-out;
}
.t-link:hover {
     text-shadow: 0px 0px 10px #FF605C;
}
/* end of contact styling */

/* simple typing animation */
.typing {
     color: #00CA4E;
     animation:pulsing 1s infinite alternate;
}

.myfooter {
     text-align: center;
     background-color: var(--black);
     padding: 1rem;
     color: var(--green);
}

.hidden {
     opacity: 0;
     filter: blur(5px);
     transform: translateX(-100%);
     transition:  all 0.8s;
}

.show {
     opacity: 1;
     filter: blur(0px);
     transform: translateX(0);
}

@media (prefers-reduced-motion) {
     .hidden {
          transition: none;
     }
}


@keyframes pulsing {
     0% {
          background-color: #444; /* Dark background */
     }
     50% {
          background-color: #00CA4E; /* Lighter yellow */
     }
     100% {
          background-color: #444; /* Return to dark background */
     }
}

@media (max-width: 500px) {

     /* nav bar */
     .nav-bar {
          padding: 1rem;
          border-bottom: 2px solid var(--green);
     }
     .link-container {
          display: none;
          flex-direction: column;
          position: absolute;
          top: 63px;
          right: 0px;
          width: 100%;
          background-color: var(--green);
          padding: 1rem;
          z-index: 10;
     }
     
     .link-container a{
          color: var(--black);
          text-align: left;
          font-size: 1rem;
          padding: 10px;
          font-weight: 800;
     }

     .terminal-body {
          padding: 1rem;
     }

     .link-container li {
          padding: 10px;
          border-bottom: 2px solid var(--black);
     }


     .link-container.show {
          display: flex;
     }
  
     .icon {
          display: block;
     }


     .card-image {
          display: none;
     }

     .hero-page {
          justify-content: center;
          flex-direction: column-reverse;
          gap: 2rem;
          padding: 1.5rem;
          margin-top: 3.5rem !important;
          margin: 0px;
          height: auto;
     }

     .project-section{
          margin: 0px;
          padding: 1.5rem;
     }

     .about-me, .skill-cont{
          margin: 1rem 0.5rem !important;
          padding: 1rem 0.5rem;
     }

     .img-container {
          width: 100%;
          max-width: 250px;
          height: auto;
     }
     
     .hero-text {
          width: 100%;
     }

     .hero-text h1 {
          font-size:2rem;
          text-align: center;
          margin-bottom: 10px;
     }

     .hero-text p {
          font-size: 1rem;
          margin-bottom: 20px;
     }

     .learn-btn {
          margin: auto auto;
     }

     /* card styling */
     .card-disc {
          width: 100%;
     }

     .card-disc h1 {
          font-size: 1.5rem;
     }

     .card-disc p {
          text-align: justify;
          font-size: 0.9rem;
     }
     
     .lang-use {
          padding: 10px;
          font-size: 13px;
     }

     .button-container a {
          padding: 10px;
          font-size: 13px;
     }

     .contact {
          padding: 1rem 0.5rem;
     }
     
}

/* tablet responsive ness */
@media (max-width: 768px) {
     /* nav bar */
     .nav-bar {
          padding: 1rem;
          border-bottom: 2px solid var(--green);
     }
     .link-container {
          display: none;
          flex-direction: column;
          position: absolute;
          top: 63px;
          right: 0px;
          width: 100%;
          background-color: var(--green);
          padding: 1rem;
          z-index: 10;
     }
     
     .link-container a{
          color: var(--black);
          text-align: left;
          font-size: 1rem;
          padding: 10px;
          font-weight: 800;
     }

     .terminal-body {
          padding: 1rem;
     }

     .link-container li {
          padding: 10px;
          border-bottom: 2px solid var(--black);
     }

     .hero-page {
          flex-direction: column-reverse;
          gap: 2rem;
          height: auto;
          margin-top: 3.5rem;
     }
     
     .about-me {
          margin: 3rem 2rem;
     }

     .link-container.show {
          display: flex;
     }
  
     .icon {
          display: block;
     }
     
     .hero-text h1 {
          font-size: 2rem;
     }

     .hero-text a {
          margin: auto auto;
     }

     .hero-text p {
          font-size: 1rem;
          margin-bottom: 1.5rem;
     }

     .img-container {
          width: 300px;
          height: auto;
     }
}